
/* Alineamos el Header */
header {
    height: 60px; /* Establece una altura para el header */
    display: flex; /* Alinea el contenido del header */
    align-items: center; /* Centra verticalmente el contenido del header */
    background-color: #61F054;
}

header nav ul {
    list-style: none; /* Quita los puntos de la lista */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    margin: 0;
    padding: 0;
    display: flex; /* Alinea los elementos en una fila */
    justify-content: center; /* Distribuye los elementos con un espacio significativo entre cada uno */
    width: 100%; /* Establece un ancho del 100% para que los elementos se distribuyan correctamente */
    height: 100%; /* Establece una altura del 100% para que los elementos se centren verticalmente */
    align-items: center; /* Centra verticalmente los elementos */
  }
  
  header nav ul li {
    margin-right: 110px; /* Agrega un margen derecho a cada elemento para aumentar el espacio entre ellos */
    margin-left: 50px;
    align-items: center;
  }
  
  header nav a {
    text-decoration: double; /* Quita la decoración del texto */
    color: #0a0a0a; /* Cambia el color del texto */
  }

  /*Alineamos la primera section del body*/

#seccion1 {
  height: 50vh;
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
  align-items: first baseline;
}

#seccion1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../Img/Seguro\ TR.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;  
}

#idSection1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#titlleCompany {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  
}

h1 {
  font-size: 50px;
}

#infoCompany {
  width: 100%;
  height: 50%;
  position: relative; 
  text-align: center;
  align-self: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}

#botones {
  width: 100%;
  height: 50%;
  position: relative;
  
}

.boton {
  background-color: black;
  color: white;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  cursor: pointer;
}

.boton:hover {
  background-color: #555151;
}

body{
  flex: 1;
}

/* Alineamos la segunda seccion de noticias y productos para ti */

.container-noticias {
  display: flex;
  text-align: center;
}

.Noticias {
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #cac9c9;
  border-radius: 25px;
  transition: background-color 0.5s;
  margin: 30px;
  text-align: center;
  align-items: center;
}

.Noticias:hover {
  background-color: #caf5c2;
}

.seccionNoticias {
  display: inline-block;
  width: 70%;
  height: 100%;
  margin: 25px;
}

.boton-contenedor {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.botonProductos img {
  border-radius: 30%; /* le damos una curvatura a la imagen*/ 
  
}

.botonProductos {
  border-color: #0a0a0a;
  border-radius: 50%;
  margin: 30px; 
  width: 10%;
  cursor: pointer;
}

.botonProductos:hover {
  background-color: #b3b0b0;
}

/* alineamos  el footer */

/*FOOTER*/

.container-footer {
  display: flex;
  background-color: #61F054;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 100%; 
  height: 20vh; 
}

.footer-left {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: 'Franklin Gothic Medium';
  font-size: 20px;
  flex-direction: column;
}

.footer-center, .footer-right {
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column; 
  align-items: center;
  text-align: center;
}

.footer-center-tittle{
  font-size: 18px;
}

.footer-right-tittle{
  font-size: 18px;
}

.footer-center-body, .footer-right-body {
  font-size: 14px;
  font-family:'Lucida Sans Unicode';
}

  








/* En caso de ver pantallas menos resolucion*/
/* Estilos para pantallas pequeñas (menos de 768px de ancho) */
@media (max-width: 768px) {
  /* Aquí puedes agregar estilos para pantallas pequeñas */
  .boton {
    width: 20%; /* reducir el ancho de los botones */
  }
}

/* Estilos para pantallas medianas (entre 768px y 1024px de ancho) */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Aquí puedes agregar estilos para pantallas medianas */
  .boton {
    width: 25%; /* ajustar el ancho de los botones */
  }
}

/* Estilos para pantallas grandes (más de 1024px de ancho) */
@media (min-width: 1024px) {
  /* Aquí puedes agregar estilos para pantallas grandes */
  .boton {
    width: 30%; /* aumentar el ancho de los botones */
  }
}
